/**
**重写text-danger 
*/
.text-danger{
	color:red;
}
/**
**重写container
*/
.container{
	width:100%;
}
/**
**重写ul li
*/
ul,li{
	list-style: none;
}
li.full{
	border-bottom:1px solid #ccc;
}
/**
**重写row 
*/
.row{
	margin-left: 0;
	margin-right: 0;
}
/**
**重写p 
*/
p{
	font-size:16px;
}
/**
**重写a 
*/
a{
	color:#999;
	cursor: pointer;
	text-decoration: none;
	padding: 10px !important;
}

a:hover,a:active{
	text-decoration: none;
	color:red;
}
.comment-top-fixed a:hover{
	border-bottom: 2px solid red;
	
}
/**
**body
*/
body,html{
	background-color: #999;
	height:100%;
}
/**
**包裹居中
*/
.comment-wrap{
	position: relative;
	left:0;
	top:0;
	max-width:640px; 
	width:100%;
}
@media screen and (min-width:640px){
.comment-wrap{
	position: relative;
	left:50%;
	top:0;
	margin-left:-320px;
	width:640px; 
}
}
/**
**列表item
*/
.comment-list-item{
	background-color: #fff;
	padding:5px 2%;
	margin:2% 0 !important; 
}
.comment-list-item-img{
	width: 100px;
	height: 76px;
}
/**
**固定底部
*/
.comment-bottom-fixed{
	position: fixed;
	left:0;
	bottom: 0;
	max-width:640px; 
	width:100%;
	margin:0 !important;
	z-index: 9999;
}
@media screen and (min-width:640px){
.comment-bottom-fixed{
	position: fixed;
	left:50%;
	bottom:0;
	width:640px; 
	margin:0 0 0 -320px !important;
	z-index: 9999;
}
}
/**
**固定顶部
*/
.comment-top-fixed{
	position: fixed;
	left:0;
	top: 0;
	max-width:640px; 
	width:100%;
	margin:0 !important;
	z-index: 9999;
}
@media screen and (min-width:640px){
.comment-top-fixed{
	position: fixed;
	left:50%;
	top: 0;
	width:640px; 
	margin:0 0 0 -320px !important;
	z-index: 9999;
}
}
/**
**顶部样式
*/
.comment-title-top{
	position:fixed;
	width:100%;
	height: 50px;
	background-color: red;
	color:white;
	text-align: center;
	padding:10px;
	font-size: 22px;
}
/**
**顶部左边样式
*/
.comment-title-left{
	width:100%;
	height: 50px;
	color:white;
	text-align: left;
	padding:10px;
	font-size: 20px;
	position: absolute;
	left:0;
	top:0;
}
/**
**文章右边
*/
.comment-right-body{
	width:100%;
	height: 80%;
	padding:10px;
}
.comment-right-body-title{
	font-size: 16px;
}
/**
**热门图标
*/
.comment-hot-radius-icon{
	position:absolute;
	background-color: red;
	width:50px;
	height:26px;
	display: inline-block;
	right: 0;
	top:0;
	text-align: center;
	color:#fff;
	line-height: 26px;
	font-size: 20px;
}
/**
**热门推荐
*/
.comment-hot-title{
	margin-bottom:20px;
	height:20px;
	width:100%;
	position: relative;
}
.comment-hot-icon{
	position:absolute;
	left:1%;
	top:6px;
	display:inline-block;
	height:18px;
	line-height:18px;
	width:2%;
	border-left: 3px solid red;
}
.comment-hot-word{
	position:absolute;
	left:5%;
	top:5px;
	display:inline-block;
	line-height:20px;
	height:20px;
	width:22%;
	font-size: 16px;
}
.comment-hot-line{
	position:absolute;
	left:27%;
	top:15px;
	display:inline-block;
	width:73%;
	height:20px;
	border-top: 1px solid #ccc;
}

/**
**底部
*/
.comment-bottom{
	width:100%;
	text-align: center;
	color:#666;
}

/**
**收货地址
*/
.comment-receipt-address{
 transition:all linear 0.5s;
  background-color: white;
  	height:75%;
	width:100%;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index:99999;
	display: block;
}
@media screen and (min-width:640px){
.comment-receipt-address{
    transition:all linear 0.5s;
    background-color: white;
  	height:75%;
	width:640px;
	position: fixed;
	left:50%;
	bottom: 0;
	z-index:99999;
	display: block;
	margin:0 0 0 -320px !important;
}
}
/**
**全屏遮罩
*/
.comment-full-screen{
	background-color: #ccc;
	height:100%;
	width:100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index:9999;
	display: block;
}
@media screen and (min-width:640px){
.comment-full-screen {
    position: fixed;
    left: 50%;
    top: 0;
    width: 640px;
    margin: 0 0 0 -320px !important;
    z-index: 999;
}
}
.comment-full-screen-x{
	position: absolute;
    right: 5%;
    top: 1%;
    font-size:3rem;
    color:white;
}
/**
**导航栏nav-active
*/
.nav-active{
	border-bottom-width: 2px;
 	border-bottom-style: solid; 
 	border-bottom-color: red; 
 	color: red !important;
}